@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Style shia labeof */
#shia-labouf {
  /* Default the display to none */
  display: none;
  margin: auto; }

/* Style the individual task list divs */
.task-list-div {
  border-style: solid solid none;
  border-width: 1px;
  min-height: 50px;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  */
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 5% 90% 5%; }

/* Style the filter div */
.filer-div {
  border-style: solid solid solid;
  font-size: 1.3em;
  background-color: #7CC6E6;
  grid-template-columns: 35% 21.6% 21.6% 21.6%;
  grid-template-rows: 100%; }

.filter-label, .total-label {
  margin-top: auto;
  margin-bottom: auto; }

.task-label {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5em;
  margin-left: 1.5em; }

.task-delete-x-button {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.5em;
  margin-left: -.3em;
  cursor: pointer; }
  @media (min-width: 600px) {
    .task-delete-x-button {
      margin-left: -.1em; } }

/* Style the custom checkbox */
.task-checkbox {
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-left: .2em;
  cursor: pointer; }

#total-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: .2em; }

#all-filter-label, #active-filter-label, #completed-filter-label {
  grid-row: 1 / 2;
  text-align: center;
  cursor: pointer;
  margin-left: -2em; }
  @media (min-width: 600px) {
    #all-filter-label, #active-filter-label, #completed-filter-label {
      margin-left: 0; } }

#all-filter-label {
  grid-column: 2 / 3; }

#active-filter-label, #completed-filter-label {
  text-align: left; }

#active-filter-label {
  margin-left: -1.5em; }
  @media (min-width: 600px) {
    #active-filter-label {
      margin-left: 0; } }

/* Get rid of the margin */
* {
  margin: 0;
  padding: 0; }

/* Style the html */
html {
  background-color: #FFFAF6; }

/* Center the content of the page */
.content {
  max-width: 100%;
  margin: auto; }

/* Style the todo list form */
.todo-elements-form {
  min-width: 0%;
  margin: auto;
  margin-top: 20px;
  background-color: white; }
  @media (max-width: 599px) {
    .todo-elements-form {
      max-width: 90%; } }
  @media (min-width: 600px) {
    .todo-elements-form {
      max-width: 80%; } }
  @media (min-width: 900px) {
    .todo-elements-form {
      max-width: 60%; } }
  @media (min-width: 1200px) {
    .todo-elements-form {
      max-width: 50%; } }
  @media (min-width: 1800px) {
    .todo-elements-form {
      max-width: 30%; } }

/* Styl the page title */
.page-title {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #FFFAF6;
  font-size: 3em; }

header {
  background-color: #E45D38; }

/* Style the add task form */
.add-task-form {
  min-width: 0%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 10%; }
  @media (max-width: 599px) {
    .add-task-form {
      max-width: 90%; } }
  @media (min-width: 600px) {
    .add-task-form {
      max-width: 80%; } }
  @media (min-width: 900px) {
    .add-task-form {
      max-width: 60%; } }
  @media (min-width: 1200px) {
    .add-task-form {
      max-width: 50%; } }
  @media (min-width: 1800px) {
    .add-task-form {
      max-width: 30%; } }

/* Style the input */
.add-task-input {
  width: 90%;
  min-height: 50px; }

.add-task-input {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em; }

.add-task-input-button {
  font-size: 2.5em;
  border-style: solid;
  border-width: 1px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #FFFAF6; }

.selected-filter {
  color: #FFFAF6; }

.selected-label {
  text-decoration: line-through; }

.selected-checkbox {
  font-size: 2em;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1.5px;
  padding-bottom: 1.4px;
  margin-left: .1em;
  font-family: "Roboto", sans-serif; }

#all-filter-label:hover, #active-filter-label:hover, #completed-filter-label:hover {
  text-decoration: underline;
  animation-name: shake;
  animation-duration: .3s; }

.task-delete-x-button:hover, .task-checkbox:hover, .add-task-input-button:hover {
  animation-name: shake;
  animation-duration: .3s; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }
.page-title {
  animation-name: fadeInAnimation;
  animation-duration: 4s; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
