
//Color Pallet: https://coolors.co/b28d87-7cc6e6-fffaf6-fce03e-f78d00-e45d38
//Sunset. It symbolizes a new day.

// Color variables
$rosy-brown:#B28D87;
$sky-blue:#7CC6E6;
$snow:#FFFAF6;
$minion-yellow:#FCE03E;
$yellow-orange:#F78D00;
$orange-soda:#E45D38;


/* Style shia labeof */
#shia-labouf {
    /* Default the display to none */
    display: none;

}