/* Style the add task form */
.add-task-form {
    // Make the form skinnier
    //max-width: $max-form-width;
    min-width: $min-form-width;
    // Center the form in the content div
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
    margin-top: 10%;
    @include for-phone-only {max-width: 90%;}
    @include for-tablet-portrait-up {max-width: 80%;}
    @include for-tablet-landscape-up {max-width: 60%;}
    @include for-desktop-up {max-width: 50%;}
    @include for-big-desktop-up {max-width: 30%;}
}


/* Style the input */
.add-task-input {
    width: 90%;
    min-height: $input-height;
    font-family: $copy-font;
    font-size: 1.5em;
}
