/* Styl the page title */
.page-title{
    // Center the page title
    text-align: center;
    font-family: $title-font;
    color: $snow;
    font-size: 3em;
}

header {
    background-color: $orange-soda;
}