

#all-filter-label:hover, #active-filter-label:hover, #completed-filter-label:hover {
    text-decoration: underline;
    animation-name: shake;
    animation-duration: .3s;
}


.task-delete-x-button:hover, .task-checkbox:hover, .add-task-input-button:hover {
    animation-name: shake;
    animation-duration: .3s;
}


@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}
